@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root{
    --BluredDivColor: rgba(11, 11, 11, 0.64);
    --MainBackgroundColor:#121212;
    --HeadingFontFamily:'Lexend', sans-serif;
    --LinkFontHeading:'Roboto Condensed', sans-serif;
    --SecondaryColor:#D5FE6B;
}
body{
    background-color: var(--MainBackgroundColor);
    /* background-color: rgb(49, 90, 8); */
    color: white;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 400vh;
    margin: 0% 10%;
}